$contentPadding = 10px
$backgroundColor = #f8f8ff
$contentBackground = white
$dividerColor = #ccc
$dividerBorder = 1px solid $dividerColor

body > nav
  background $backgroundColor
  border $dividerBorder

button[data-tab]
  @extend body > nav
  padding 0 $contentPadding
  line-height 2em
  margin-bottom -1px

  &.doc-active
    font-weight bold
    border-bottom-color $contentBackground
    background-color $contentBackground

section.doc-tabbed
  display none !important
  margin $contentPadding
  background-color $contentBackground

  &.doc-active
    display block !important

code
  overflow auto !important
  border $dividerBorder !important

pre
  display none

  .show-code &
    display block

.style-doc-highlight
  display none

  &:after
  &:before
    content ''
    display block
    height 1px
    margin $contentPadding
    border none
    background-image linear-gradient(left, #efefef, #ccc 50%, #efefef)

  .show-highlights &
    display block
